.odoo_form{
    width: 940px;
    margin: 16px auto;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #c8c8d3;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.label{
    margin: 3px;
}

.container-fluid#vista_crud, footer{
    background: url('img/form_sheetbg.png') repeat;
}