<div id="upper_menu">
    <ul class="nav nav-pills" style="margin-top: 3px;">
        <li class="dropdown root-menu">
            <a class="dropdown-toggle" id="home" data-toggle="dropdown" href="javascript://">
                <b>HOME</b> 
            </a>
        </li>
        <li class="dropdown root-menu">
            <a class="dropdown-toggle" id="ticket_management" data-toggle="dropdown" href="javascript://">
                <b>ALTA DE INCIDENCIA</b>
            </a>
        </li>
        <li class="dropdown root-menu">
            <a class="dropdown-toggle" id="user_management" data-toggle="dropdown" href="javascript://">
                <b>ALTA DE USUARIO</b>
            </a>
        </li>
    </ul>
</div>